In [11]:
#importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [21]:
kmk_df = pd.read_csv("C:\\Users\\KIIT\\Desktop\\ALL CODE ND STUFFS\\PROJECTS-REPOS\\Python Folder\\Data Analysis Folder\\Data\\KATEMAHANKAL.csv",encoding= 'unicode_escape')
kmk_df.head()

      ORIGIN DESTINATION      TYPE  MODE        DATE GENDER    WITH   age
0      DELHI      mumbai  NATIONAL  ROAD  12-04-2007      M  FAMILY  30.0
1       PUNE      mumbai  NATIONAL   AIR  04-12-2002      F  FAMILY  20.0
2     MUMBAI      mumbai  NATIONAL   AIR  05-12-2020      M   FRNDS  29.0
3        GOA      mumbai  NATIONAL  BIKE  12-07-2003      F    SOLO  23.0
4  RAJASTHAN      mumbai  NATIONAL   CAR  12-05-2008      M  FAMILY  27.0