In [11]:
#importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [21]:
kmk_df = pd.read_csv("C:\\Users\\KIIT\\Desktop\\ALL CODE ND STUFFS\\PROJECTS-REPOS\\Python Folder\\Data Analysis Folder\\Data\\KATEMAHANKAL.csv",encoding= 'unicode_escape')
kmk_df.head()

      ORIGIN DESTINATION      TYPE  MODE        DATE GENDER    WITH   age
0      DELHI      mumbai  NATIONAL  ROAD  12-04-2007      M  FAMILY  30.0
1       PUNE      mumbai  NATIONAL   AIR  04-12-2002      F  FAMILY  20.0
2     MUMBAI      mumbai  NATIONAL   AIR  05-12-2020      M   FRNDS  29.0
3        GOA      mumbai  NATIONAL  BIKE  12-07-2003      F    SOLO  23.0
4  RAJASTHAN      mumbai  NATIONAL   CAR  12-05-2008      M  FAMILY  27.0

In [24]:
kmk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 879 entries, 0 to 878
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ORIGIN       679 non-null    object
 1   DESTINATION  679 non-null    object
 2   TYPE         679 non-null    object
 3   MODE         679 non-null    object
 4   DATE         679 non-null    object
 5   GENDER       679 non-null    object
 6   WITH         679 non-null    object
 7   age          679 non-null    float64
dtypes: float64(1), object(7)
memory usage: 55.1+ KB

In [25]:
kmk_df.describe()

              age
count  679.000000
mean    26.681885
std      5.464998
min     19.000000
25%     23.000000
50%     26.000000
75%     29.000000
max     50.000000

In [26]:
kmk_df.isna().sum()

ORIGIN         200
DESTINATION    200
TYPE           200
MODE           200
DATE           200
GENDER         200
WITH           200
age            200
dtype: int64